<div style="text-align: center">
    <br>
    <br>
    <!-- input user name   -->
    <label>Name: </label>
    <br>
    <input type="text" required [(ngModel)]="userName" />
    <br>
    <br>
    <!-- input user password   -->
    <label>Password: </label>
    <br>
    <input type="password" required [(ngModel)]="userPassword" />
    <br>
    <br>
    <!-- input user date of birth   -->
    <label>Date of Birth: </label>
    <br>
    <input type="text" [(ngModel)]="udob" />
    <br>
    <br>
    <!-- input user mail   -->
    <label>Email: </label>
    <br>
    <input type="email" [(ngModel)]="umail" />
    <br>
    <br>
    <!-- delete button   -->
    <button class="btn btn-danger" (click)="delete()">DELETE</button>
    &nbsp; &nbsp;
    <!-- update button   -->
    <button class="btn btn-success" (click)="update()">UPDATE</button>
    <br>
    <br>
    <br>
    <!-- SIGN OUT BUTTON -->
    <button class="btn btn-primary" (click)="sign_out()">SIGN OUT</button>

    <!-- update response message   -->
    <p [(ngClass)]="messageStyle">{{updateMessage}}</p>
    <!-- deletion response message   -->
    <p [(ngClass)]="messageStyle">{{deleteMessage}}</p>
</div>